@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.module.scss' as *;
@use "sass:map";
@use "sass:color";

.main-stats-cont {
  $bgColor: map-get($map: $project-colors, $key: 'bgColor');
  $fontColor: map-get($map: $project-colors, $key: 'fontColor');
  $fontColorOpp: map-get($map: $project-colors, $key: 'fontColorOpp');
  $bgAccent: map-get($map: $project-colors, $key: 'bgAccent');
  $primaryColor: map-get($map: $project-colors, $key: 'primaryColor');
  $secondaryColor: map-get($map: $project-colors, $key: 'secondaryColor');

  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100dvh;
  gap: 20px;
  background-color: $bgColor;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
  
    th, td {
      padding: 12px;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: $secondaryColor;
      font-weight: bold;
      color: $fontColor;
    }
  
    tr:nth-child(even) {
      // background-color: #f9f9f9;
    }
  
    tr:hover {
      background-color: $primaryColor;
      opacity: 80%;
      color: $fontColorOpp;
    }
  }
  
  input {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: $primaryColor;
    color: $fontColor;
    cursor: pointer;
    transition: all .3s;
  }
  
  button:disabled {
    background-color: #6c6c6c;
    cursor: not-allowed;
  }  

  .chart-btn:hover {
    transform: scale(1.1);
  }

  .chart-btn-disabled {
    background-color: #6c6c6c;
  }

  .graph-div {
    margin: 10px;
    width: stretch;
    // background-color: #007bff;
  }
}